body {
  width: 100vw;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

form {
  border: solid 1px black;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
}

label {
  margin: 10px;
}
input {
  margin: 10px;
}

button {
  margin: 10px;
}

.form-row {
  display: flex;
  flex-direction: column;
}

#delete-button {
  width: 80px;
  align-self: center;
}